---
layout: default
title: Contact Us
order: 2
---
<script>
window.onload = function () {
    window.setTimeout(handleEmailFormOnLoadEvent, 400);
}
</script>
<h1>Visit or Contact Us</h1>
<p>We are located at:<br/>
935 McCarthy Blvd North<br/>
Regina, Saskatchewan, Canada<br/>
S4X 3L2<br/>
Phone: (306) 543-9898<br/>
<br/><br/>
<h1>Our Team</h1>
<div>
<h2>Pastor Nigel Prozenko</h2>
<img src="{{site.baseurl}}/images/pastor_prozenko.jpg" width="300" alt="" style="float: right">
<p>Pastor Prozenko joined us in August 2023, after studying at St Catherines Lutheran Seminary, Ontario.
Originally from Nova Scotia, he is enjoying the prairies.
We are blessed to have such a kind and caring leader.
His ministry focuses on preaching, administering the sacraments, visiting and teaching.</p>
</div>
<div>
<h2 style="clear: right">Daryl Hoffman - Board Executive Director</h2>
<img src="{{site.baseurl}}/images/daryl_hoffman.jpg" width="300" alt="" style="float: left">
<p>Daryl heads our church's Executive Board and is also an Elder who helps with the congregation’s spiritual needs.</p>
</div>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/>
<div>
<h2 style="clear: right">Henrique Fuhrmann - Administrative Assistant</h2>
<p>Our church's administrative assistant is here to support the pastor, the Board of Directors, and various ministries.
He is available to answer questions or connect you with the people who can.</p>
</div>
<br/><br/>
<p style="clear: right">Please reach out to us if you have any questions or can’t find the information you’re looking for. Call or email us using the information below.</p>

<br/>
<form action="https://formspree.io/kevin.weslowski@gmail.com" method="POST">
    <!--
    <div style="display: flex">
        <div>
            <input type="text" name="name" placeholder="Your Name"><br/>
            <input type="text" name="_subject" placeholder="Subject"><br/>
            <input type="email" name="_replyto" placeholder="Your email"><br/>
            <input type="hidden" name="_next" value="{{site.baseurl}}/contact.html?formSubmitted=1" /><br/>
            <input type="text" name="_gotcha" style="display:none" /><br/>
        </div>
        <div>
            <textarea name="body" cols="40" rows="8" placeholder="Your message"></textarea><br/>
        </div>        
    </div>
    <br/>
    <script src="{{site.baseurl}}/assets/js/form.js"></script>
    -->
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <!--
                    <th>Send</th>
                    -->
                </tr>
            </thead>
            <tbody>
    {% for staff in site.data.staff %}
    {% assign index_mod = forloop.index | modulo:2 %}
                <tr class="hover{% if index_mod == 1 %} odd{% endif %}">
                    <td>{{ staff.name }}</td>
                    <td>{{ staff.title }}</td>
                    <td><a href="mailto:{{ staff.email }}">{{ staff.email }}</a></td>
                    <td nowrap>{{ staff.phone }}</td>
                    <!--
                    <td><input type="button" name="sendEmail{{forloop.index}}" value="Send" onclick="handleEmailFormSubmit(this.form, 'https://formspree.io/', '{{staff.email}}')"></td>
                    -->
                </tr>
    {% endfor %}
            </tbody>
        </table>
    </div>
</form>