body {
    // font-family: arial,sans-serif;
    font-family: 'Marcellus';
    background: white;
    // removes any margin for the browser window
    margin: 0;
}

#full-page {
    // this centers the element
    margin: auto;
    max-width: 1050px;
    // this creates a shadow around the elemnt
    box-shadow: 0 20px 10px #555;
}

#content-window {

}

header {
    min-height: 200px;
    background-color: #900;
    background-image: linear-gradient(#c00, #900);
    color: white;
}

header h1 {
    
    font-size: 4em;
}
header h2 {
    font-family: 'Dancing Script';
    font-size: 3em;
}

#breadcrumb {
    padding-left: 2px;
}

#breadcrumb-and-social-media {
    display: flex;
    justify-content: space-between;
}

#social-media-banner {
    text-align: right;
    padding: 2px 2px 0 0;
    flex-grow: 2;
}

#social-media-banner a {
    text-decoration-line: none;
    margin-left: -2px;
}

#social-media-banner a img {
    border-image-width: 0px;
}



.page-shadow { 

}

#nav {
    float: left;
    min-width: 150px;
    max-width: 33%;
    // height: 150px;
    margin: 2px;
    background-color: #ff0000;
}

footer {
    background: grey;
    color: white;
    text-align: center;
    font-size: 0.7em;
}