body {
    // font-family: arial,sans-serif;
    font-family: 'Marcellus';
    background: white;
    // removes any margin for the browser window
    margin: 0;
    color: #444

}

a {
    color: #c00
}

p {
    padding-left: 10px;
    
}

h1 {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-size: 1.8em;
}

h2 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
}

form input, form textarea {
    margin-bottom: 1em;
    font-family: 'Marcellus';
    border: 1px solid #ddd;
}

form textarea {
    margin-left: 20px;
}

input[type="text"] {
    width: 15em;
}

input[type="email"] {
    width: 15em;
}

table {
    border: solid 1px #ddd;
    border-spacing: 0px;
    margin-right: 20px;
}

table thead tr {
    background-color: #900;
    background-image: linear-gradient(#c00, #900);
}

table thead tr th {
    color: white;
    padding: 8px;
    text-align: left;
    font-weight: bold;
    font-size: 0.9em;
}

table tbody tr td {
    padding: 8px;
    // white-space: nowrap;
    font-size: 0.9em;
    border-bottom: 1px solid #ddd;
}

tr.odd {
    background: #f8f8f8;
}

tr.hover:hover {
    background: #fefde2;
}


li {
    width: 99%;
    margin-left: 20px;
}

ul.full-page {
    margin-right: 20px;
}

#full-page {
    // this centers the element
    margin: auto;
    max-width: 1050px;
    // this creates a shadow around the elemnt
    box-shadow: 0 20px 10px #555;
}

#content-window {

}

#content {
    // min-height: 500px;
    height: 90vh;
}

header {
    min-height: 200px;
    background-color: #900;
    background-image: linear-gradient(#c00, #900);
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

header h1 {
    text-align: center;
    font-size: 4em;
}
header h2 {
    font-family: 'Dancing Script';
    font-size: 3em;
    text-align: center;
}

#breadcrumb {
    padding-left: 2px;
}

#breadcrumb-and-social-media {
    display: flex;
    justify-content: space-between;
}

#social-media-banner {
    text-align: right;
    padding: 2px 2px 0 0;
    flex-grow: 2;
}

#social-media-banner a {
    text-decoration-line: none;
    text-decoration: none;
    margin-left: -2px;
}

#social-media-banner a img {
    border-image-width: 0px;
}



.page-shadow { 

}

#nav {
    float: left;
    min-width: 125px;
    max-width: 33%;
    // height: 150px;
    height: 95%;
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgba(240, 240, 240, 1);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    border-radius: 5px;
}

#nav a {
    text-decoration-line: none;
    text-decoration: none;
    font-size: 1.1em;
    color: #444;
}

#nav a.active {
    font-weight: bold;
}

#nav a:hover {
    color: #c00
}



footer {
    background: grey;
    color: white;
    text-align: center;
    font-size: 0.7em;
}
