<!DOCTYPE html>
<html>
  
  {% include head.html %}

  <body class="page-shadow">
    <div id="full-page">
      <div id="content-window">
    {% include header.html %}

        <div>
            <div id="nav">
              {% for page in site.pages %}
                {% if page.title %}
                  <a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a><br/>
                {% endif %}
              {% endfor %}
            </div>
            <p>put content here </p>
            In default layout...<br/>
            Main content here: {{ content }}
        </div>

    {% include footer.html %}
      </div>
    </div>
  </body>
</html>
